<nav id="sidebar" class="active">
            <h1><a href="home.php" class="logo">M.</a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="/minishop/index.php"><span class="fa fa-home"></span> Home</a>
                </li>
                <li>
                    <a href="/minishop/listOfStuff.php"><span class="fa fa-user"></span> Staff</a>
                </li>
                <li>
                    <a href="/minishop/ordersList.php"><span class="fa fa-sticky-note"></span> Orders</a>
                </li>
                <li>
                    <a href="/minishop/listOfItem.php"><span class="fa fa-glass"></span> Items</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-paper-plane"></span> Contacts</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-cogs"></span> Statistics</a>
                </li>
            </ul>

            <div class="footer">
                <p>
                    Copyright &copy;<script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved | This App is made with <i class="fa fa-heart" style="color: crimson;"></i> by <a href="https://lowerbyte.com" style="color: crimson;" target="_blank">Lowerbyte.com</a>
                </p>
            </div>
        </nav>