<nav id="sidebar" class="active" style="box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;">
            <h1 style="width: 100px; border-radius: 0% 60% 60% 70%; background-color: #183153; height: 90px;margin-top: .3em;">
                <a href="home.php" class="logo"><img src="images/logo.png" style="width: 75px;height: 70px; margin-bottom: .3em; margin-top: 0em;transform: rotate(-2deg);" alt="" srcset=""></a>
            </h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="/minishop/home.php"><span class="fa fa-home"></span> Home</a>
                </li>
                <li>
                    <a href="/minishop/ordersList.php"><span class="fa fa-sticky-note"></span> Orders</a>
                </li>
                <?php  if ($_SESSION['role'] === 'admin'){ ?>
                    <li>
                        <a href="/minishop/listOfItem.php"><span class="fa fa-glass"></span> Items</a>
                    </li>
                    <li>
                        <a href="/minishop/statistics.php"><i class="fa fa-pie-chart" style="font-size:24px"></i> Statistics </a>
                    </li>
                    <li>
                        <a href="/minishop/listOfStuff.php"><span class="fa fa-users"></span> Staff</a>
                    </li>
                    <li class="active">
                        <a href="/minishop/index.php"><span class="fa fa-user"></span> Suppliers</a>
                    </li>
                <?php }?>
                <li>
                    <a href="/minishop/contact.php"><span class="fa fa-paper-plane"></span> Contact</a>
                </li>
            </ul>

            <div class="footer">
                <p>
                    Copyright &copy;<script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved | This App is made with <i class="fa fa-heart" style="color: crimson;"></i> by <a href="https://lowerbyte.com" style="color: crimson;" target="_blank">Lowerbyte.com</a>
                </p>
            </div>
        </nav>
      